{{#extend "layout"}}
{{#content "page-content"}}
    <h1 class="mb2">About Us</h1>

    <div class="row">
    {{#each aboutData}}
      <div class="col-sm-4">
        <div class="panel">
            <img class="img-responsive" src="{{profile_img}}">
            <div class="p2">
              <h2 class="h4">{{name}}</h2>
              <p>{{ profile_bio}}</p>
            </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/content}}
{{/extend}}
